.page__wrapper {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid #ccc;
    font-weight: bold;
    background: rgba(0,0,0,.7);
}