@import '../variables';

.sort {
  position: relative;
  &__label {
    // display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .content__top {
    display: block !important;
  }
  .sort {
    margin-top: 10px;
  }
  .sort__popup {
    position: absolute;
    left: 140px;
    z-index: 2;
  }
  .categories ul {
    font-size: 10px;
  }
  .Search_root__pPYb3 {
    margin: 20px 0;
  }
}
@media screen and (max-width: 742px) {
  .categories ul li {
    padding: 5px 17px;
    border-radius: 20px;
    margin-right: 1px;
  }
}
@media screen and (max-width: 530px) {
  .categories ul {
    display: block;
    width: 100%;
  }
  .content {
    padding: 5px 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .Login_root__Fryxr {
    width: 100%;
    padding: 10px 10px;
  }
}
